<ion-content padding>
    <ion-grid>
        <ion-row>
          <ion-col col-2 col-md-2 offset-5 offset-md-5>
              <button ion-fab mini color="refresh" (click)="load()"><ion-icon name="refresh"></ion-icon></button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-8 offset-3 offset-md-5>
            <p>{{timezone}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-7 offset-3 offset-md-5>
              <p class="temperature-text">{{temperature}} °</p>
            </ion-col>
          </ion-row>
      </ion-grid>
      <ion-row>
          <ion-col col-6 offset-1 offset-md-2>
            <h6>HUMIDITY</h6>
            <p>{{humidity}}%</p>
          </ion-col>
          <ion-col col-4>
              <h6>RAIN</h6>
              <p>{{rain}}%</p>
          </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3 offset-4 offset-md-5>
          <p>{{summary}}</p>
        </ion-col>
      </ion-row>
</ion-content>
